#navbarPassword {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 991px) {

    #navbarPassword {
        border-top-right-radius: 0.375rem !important;
        border-bottom-right-radius: 0.375rem !important;
    }

    .btn-primary {
        border-top-left-radius: 0.375rem !important;
        border-bottom-left-radius: 0.375rem !important;
    }

}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}


@media screen and (min-width: 576px) {
    h1 {
        font-size: 4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    #navbarPassword {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-primary {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6rem;
    }

    h4 {
        font-size: 2rem;
    }
}

#contenitoreCarouselItem {
    max-height: 200px !important;
    overflow: hidden !important;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.caroselloItemNome {
    color: white;
    font-size: 2rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.caroselloCarta {
    height: 300px !important;
    width: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    overflow: hidden !important;
}

.caroselloCarta img {
    width: 100% !important;
    object-position: center !important;
    max-height: 200px !important;
    object-fit: cover !important;
}

@media (min-width: 768px) {
    .caroselloCarta img {}
}